<app-top-bar></app-top-bar>
<h1>Welcome to the Moderation Dashboard {{username}}</h1>
<main>
<section id="users">
    <table class="table table-bordered table-striped table-hover shadow">
        <thead>
            <th>User ID:</th>
            <th>Username:</th>
            <th>Role:</th>
            <th>Delete</th>
            <th>Edit</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td><button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
                <td><button class="btn btn-primary" (click)="editUser(user.id)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</section>
<section id="editUser">
    <h1>Editing user:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" name="username" placeholder="Username:" [value]="editUsername" formControlName="username" class="form-control"/>
        </div>
        <div>
            <label class="form-label">Role</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="role" value="user" formControlName="role" [checked]="editRole === 'user'">
                <label class="form-check-label" for="roleUser">User</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="role" value="admin" formControlName="role" [checked]="editRole === 'admin'">
                <label class="form-check-label" for="roleAdmin">Admin</label>
            </div>
        </div>
        <button class="btn btn-primary">
            Edit
        </button>
    </form>
</section>
