<app-top-bar></app-top-bar>
<div class="profile">
    <div class="col-sm-3 profile-content">
        <h2>{{ userData.username }}</h2>
        <div class="image-profile">
            <img src="{{ userData.icon }}" class="icon">   
        </div>
        <p>{{userData.email || '' }}</p>
        <div *ngIf="userData.postsLink; then hasPosts else noPosts"></div>
        <app-user-profile-upload></app-user-profile-upload>
        <ng-template #hasPosts><button class="btn btn-primary" (click)="goToPosts()">View posts</button></ng-template>
        <ng-template #noPosts>User has not posted</ng-template>
    </div>
    <div class="col-sm-9 description">
        <div class="description-text">
            <p>{{userData.description}}</p>
        </div>
        <section class="edit-button" *ngIf="isCurrentUser"><button class="btn btn-primary" (click)="editUser()">Edit description</button></section>
    </div>
    
</div>