<app-top-bar></app-top-bar>
<div class="profile">
    <div class="col-sm-2 profile-content">
        <h2>{{ userData.username }}</h2>
        <div class="image-profile">
            <img src="{{ userData.icon }}" class="icon">   
        </div>
        <p>{{userData.email || 'none' }}</p>
        <p><a href="{{ userData.postsLink }}">View posts</a></p>
    </div>
    <div class="col-sm-10 description">
        <div class="description-text">
            <p>{{userData.description}}</p>
        </div>
    </div>
</div>
<!-- <div *ngIf="user">
    <app-user-edit></app-user-edit>
</div> -->

