<app-top-bar></app-top-bar>
<div class="profile">
    <div class="col-sm-3 profile-content">
        <h2>{{ userData.username }}</h2>
        <div class="image-profile">
            <img src="{{ userData.icon }}" class="icon">   
        </div>
        <p>{{userData.email || '' }}</p>
        <div *ngIf="userData.postsLink; then hasPosts else noPosts"></div>
        <ng-template #hasPosts><p><a href="{{ userData.postsLink }}">View posts</a></p></ng-template>
        <ng-template #noPosts>User has not posted</ng-template>
        <app-user-profile-upload></app-user-profile-upload>
    </div>
    <div class="col-sm-9 description">
        <div class="description-text">
            <p>{{userData.description}}</p>
        </div>
        
        <button class="btn btn-outline-primary" (click)="editUser()">Edit</button>
    </div>
</div>

