div {
    /* border: 1px solid blue; */
}

.stats-label {
    width: fit-content;
    height: fit-content;
    float: left;
    /* border: 1px solid red; */
}

.stats {
    float: left;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.title {
    border: 0px 0px 0px 0px;
    padding: 0px, 0px, 0px 0px;
    margin: 0px, 0px, 0px 0px;
}

.topic:first-child {
    border-top: 1px solid gray;
}

.topic {
    border-bottom: 1px solid gray;
    height: 70px;
    padding: 0;
}

.left-stats {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 100%;
}

.right-stats {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 100%;
}  

button {
    float: right;
}
