<h1>{{boardTitle}}</h1>
<p>{{description}}</p>

<div>
    <div *ngFor="let topic of topics" class="col-sm-12 topic">
        <div class="col-sm-2 left-stats">
            <div class="stats-label">
                Replies: <br>
                Views:
            </div>
            <div class="stats">
                {{topic?.numberOfReplies}} <br>
                {{topic?.views}}
            </div>
        </div>
        <div class="col-sm-7 middle">
            <h2 class="title"><a [href]="topic.link">{{topic?.title}}</a></h2>
        </div>
        <div class="col-sm-3 right-stats">
            <div class="stats-label">
                Started by: <br>
                Created: <br>
                Updated:
            </div>
            <div class="stats">
                {{topic?.originalPoster}} <br>
                {{topic?.created | date:'medium'}}<br>
                {{topic?.lastUpdated | date:'medium'}}
            </div>
        </div>
    </div>
    
</div>
