main {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#registerButton {
    width: 20%;
    margin-top: 2rem;
}
