<main>
    <h1>BCCompsciConnect</h1>
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" name="name" placeholder="Username :" formControlName="name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Password :" formControlName="password" class="form-control"/>
        </div>
        <button class="btn btn-outline-primary" [disabled]="!form.valid">
            Login
        </button>
    </form>
    <button class="btn btn-outline-primary" id="registerButton" (click)="registerUser()">
        Register
    </button>
</main>
