<app-top-bar></app-top-bar>
<main>
    <img src="/assets/newLogo.png">
    <h2>Login</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="text" name="email" placeholder="Email :" formControlName="email" class="form-control"/>
        </div>
        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" id="errorDiv">
            <div *ngIf="form.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="form.get('email')?.errors?.['email']">Email must be an email.</div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Password :" formControlName="password" class="form-control"/>
            <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)" id="errorDiv">
                <div *ngIf="form.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="form.get('password')?.errors?.['minlength']">Password must be a valid password!</div>
            </div>
        </div>
        <button class="btn btn-primary">
            Login
        </button>
    </form>

    <button class="btn btn-primary" id="registerButton" (click)="registerUser()">
        Register
    </button>

    <div class="" id="google-button"></div>
</main>
