<!-- <app-page-bar *ngFor="let page of pages;"></app-page-bar> -->
<main>
  <section id="pinned-boards">
    <span><h1>Pinned Boards</h1><button class="btn btn-primary" (click)="createBoard()" *ngIf="loggedIn">Create Board</button></span>
    <section *ngFor="let page of pinned_pages" class="col-sm-12 page">
      <div class="image-frame">
        <img src="{{ page.icon }}" class="icon" />
      </div>
      <div class="text">
        <h2>
          <a [href]="page.goToOnClick">{{ page.title }}</a>
        </h2>
        <p>{{ page.description }}</p>
      </div>
      <button id="pin-button"class="btn btn-light" *ngIf="loggedIn" (click)="pin(page.order)">Unpin</button>
    </section>
  </section>
  <section id="all-boards">
    <span>
      <h1>Boards</h1>
      
    </span>
    <section *ngFor="let page of pages" class="col-sm-12 page">
      <div class="image-frame">
        <img src="{{ page.icon }}" class="icon" />
      </div>
      <div class="text">
        <h2>
          <a [href]="page.goToOnClick">{{ page.title }}</a>
        </h2>
        <p>{{ page.description }}</p>
      </div>
      <button id="pin-button"class="btn btn-light" *ngIf="loggedIn" (click)="pin(page.order)">Pin</button>
    </section>
  </section>
</main>
