div {
    /* border: 1px solid blue; */
}

.post {
    border: 1px solid gray;
}

.info {
    border-right: 1px solid gray;
}

.profile-pic-frame {
    max-width: 50px;
    max-height: 50px;
}

.profile-pic {
    max-width: 100%;
    max-height: 100%;
}

.dates-labels {
    width: fit-content;
    height: fit-content;
    float: left;
    /* border: 1px solid red; */
}

.dates {
    float: left;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.after-dates-section {
    clear: both;
}
