<div *ngFor="let post of posts" class="col-sm-12">
    <div class="col-sm-2 info">
        <a class="username" [href]="post.profileLink">{{post.username}}</a>
        <div class="profile-pic-frame">
            <img class="profile-pic" [src]="post.profilePic" [alt]="post.username + '-profile-pic'">
        </div>
        <div class="dates-section">
            <div class="dates-labels">
                <div>created:</div>
                <div *ngIf="post.edited != null">edited:</div>
            </div>
            <div class="dates">
                <div>{{post.created}}</div>
                <div *ngIf="post.edited != null">{{post.edited}}</div>
            </div>
        </div>
        <div class="after-dates-section">
            <a *ngIf="post.editLink != null" [href]="post?.editLink">edit</a>
        </div>
    </div>
    <div class="col-sm-10 message">
        {{post.message}}
    </div>
</div>